In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('C:\\NFL_DATA\\NFL_PBP2.csv')

C:\Users\slex\AppData\Local\Temp\ipykernel_26448\2178156799.py:1: DtypeWarning: Columns (179,180,182,183,189,190,193,194,197,198,203,204,205,206,209,210,213,214,218,219,220,222,224,226,233,234,235,236,237,238,248,249,253,254,255,260,262,263,266,267,268,269,283,284,301) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('C:\\NFL_DATA\\NFL_PBP2.csv')

In [7]:
yearFilter = df.game_id.str[:4] == '2022'

df.loc[yearFilter]

,play_id,game_id,old_game_id,home_team,away_team,season_type,week,posteam,posteam_type,defteam,...,out_of_bounds,home_opening_kickoff,qb_epa,xyac_epa,xyac_mean_yardage,xyac_median_yardage,xyac_success,xyac_fd,xpass,pass_oe
243131,1,2022_01_BAL_NYJ,2022091107,NYJ,BAL,REG,1,NaN,NaN,NaN,...,0,1,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243132,43,2022_01_BAL_NYJ,2022091107,NYJ,BAL,REG,1,NYJ,home,BAL,...,0,1,-0.443521,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243133,68,2022_01_BAL_NYJ,2022091107,NYJ,BAL,REG,1,NYJ,home,BAL,...,0,1,1.468819,NaN,NaN,NaN,NaN,NaN,0.440373,-44.037291
243134,89,2022_01_BAL_NYJ,2022091107,NYJ,BAL,REG,1,NYJ,home,BAL,...,0,1,-0.492192,0.727261,6.988125,6.0,0.60693,0.227598,0.389904,61.009598
243135,115,2022_01_BAL_NYJ,2022091107,NYJ,BAL,REG,1,NYJ,home,BAL,...,0,1,-0.325931,NaN,NaN,NaN,NaN,NaN,0.443575,-44.357494
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248798,3915,2022_02_WAS_DET,2022091802,DET,WAS,REG,2,WAS,away,DET,...,0,1,-0.786699,0.715349,7.520695,4.0,1.00000,1.000000,0.990152,0.984794
248799,3940,2022_02_WAS_DET,2022091802,DET,WAS,REG,2,WAS,away,DET,...,0,1,-2.251386,NaN,NaN,NaN,NaN,NaN,0.993448,0.655168
248800,3959,2022_02_WAS_DET,2022091802,DET,WAS,REG,2,DET,home,WAS,...,0,1,-0.326949,NaN,NaN,NaN,NaN,NaN,NaN,NaN
248801,3980,2022_02_WAS_DET,2022091802,DET,WAS,REG,2,DET,home,WAS,...,0,1,-1.771042,NaN,NaN,NaN,NaN,NaN,NaN,NaN
248802,4001,2022_02_WAS_DET,2022091802,DET,WAS,REG,2,NaN,NaN,NaN,...,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df[['play_type', 'down', 'ydstogo', 'game_seconds_remaining', 'quarter_end', 'timeout', 'no_huddle', 'qb_kneel', 'qb_spike', 'posteam_score', 'defteam_score']]
#game_seconds_remaining
#quarter_end
# down
# goal_to_go
# time
# yrdln
# ydstogo
# ydsnet
# desc
# play_type
#timeout

,play_type,down,ydstogo,game_seconds_remaining,quarter_end,timeout,no_huddle,qb_kneel,qb_spike,posteam_score,defteam_score
0,NaN,NaN,0,3600.0,0,NaN,0,0,0,NaN,NaN
1,kickoff,NaN,0,3600.0,0,0.0,0,0,0,0.0,0.0
2,pass,1.0,10,3594.0,0,0.0,0,0,0,0.0,0.0
3,run,2.0,6,3556.0,0,0.0,0,0,0,0.0,0.0
4,pass,3.0,4,3514.0,0,0.0,0,0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
248798,pass,3.0,4,68.0,0,0.0,1,0,0,27.0,36.0
248799,pass,4.0,4,60.0,0,0.0,0,0,0,27.0,36.0
248800,qb_kneel,1.0,10,52.0,0,0.0,0,1,0,36.0,27.0
248801,qb_kneel,2.0,11,33.0,0,0.0,0,1,0,36.0,27.0
248802,NaN,NaN,0,0.0,0,NaN,0,0,0,NaN,NaN